.header_container{
    background-color: #f4c10e;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    border: 2px solid black;
}
.for_ul_list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.for_a_group{
    text-decoration: none;
    color: black;
}
.btn1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#section1{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: #f4c10e;
}
#h2{
    
    margin-left: 10%;
    color: whitesmoke;
    font-weight: 300;
    
}
#p1{
    margin-left: 10%;
    color: whitesmoke;
}
#button{
    margin-left: 10%;
    background-color: #04c1c9;
    padding: 8px 12px;
}
#button2{
    padding: 8px 12px;
}
#section2{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
#h22{
    margin-left: 10%;
}
#p2{
    margin-left: 10%;
}
#button3{
    margin-left: 10%;
    background-color: #f4c10e;
    padding: 8px 12px;
}
#section3{
    background-color: #f4c10e;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    
}
#h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#p3{
    display: flex;
    align-items: center;
    justify-content: center;
}
#img{
    float: right;
    margin-right: 13%;
    margin-top: 1%;
}
#i{
    margin-left: 60%;
    margin-top: -12%;
}
#img2{
    float: left;
    margin-left: 15%;
}
#img3{
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
#second_page{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
#icon{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-left: 5%;
}
#second_page_section2{
    background-color: #f4c10e;
    border: 1px solid black;
    width: 100%;
    height: 100%;


}
#ps2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3%;
    margin-left: 4%;
    
}
#ps22{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 4%;
}
#ts{
    display: flex;
    align-items: center;
    justify-content: center;
}
#ts_p{
    display: flex;
    align-items: center;
    justify-content: center;
}
#third_section{
    background-color: whitesmoke;
    border: 1px solid black;
}
#third_sec_img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#last_section{
    background-color: black;
    color: white;
    list-style: none;
    margin-top: -1%;

}
.last_ul{
    list-style: none;
    margin-left: 38%;
    margin-right: 3%;
}
.last_ul2{
    list-style: none;
    margin-left: 50%;
    margin-top: -7%;

}